/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

    body {
        color: green
    }
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    body {
        color: yellow
    }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    body {
        color: red
    }


    
.header-nav a.logo {
    display: block;
    text-align: center;
  }
  ul.main-menu {
    text-align: center;
  }
  .welcome-content {
    text-align: center;
    font-size: 25px;
  }
  div.buttons-wrap {
    text-align: center;
  }
  .home-slide {
  }
  a.default-btn {
    padding: 6px 8px 6px 10px;
    font-size: 15px;
  }
  .about-content {
    text-align: center;
  }
  .about-slide {
    /*! margin: 52px 0; */
  }
  .about-content img {
    height: 200px;
    margin-bottom: 25px;
  }
  .project-content {
    text-align: center;
  }
  .single-project-slide p {
    padding-left: 0;
    font-size: 14px;
  }
  .single-project-slide a {
    font-size: 17px;
  }
  .default-btn {
  }
  .single-project-slide a {
    font-size: 14px;
  }
  .about-content.utils {
  }
  .contact-content h2 {
    font-size: 69px;
  }
  .contact-content {
    text-align: center;
  }
  .contact-item {
    margin-bottom: 20px;
  }
  ul.social-nav {
    text-align: center;
  }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    body{
        color: mediumblue
    }

}